/* sys.css */
:root {
  --sys-font-family-h1: var(--ref-font-family-condensed);
  --sys-font-weight-h1: var(--ref-font-weight-black);
  --sys-font-size-h1: var(--ref-size-88);
  --sys-letter-spacing-h1: var(--ref-size-0-6);
  --sys-font-size-h1-accent: var(--ref-size-48);
  --sys-font-weight-h1-accent: var(--ref-font-weight-semi-bold);

  --sys-font-family-h2: var(--ref-font-family-condensed);
  --sys-font-weight-h2: var(--ref-font-weight-bold);
  --sys-font-size-h2: var(--ref-size-64);

  --sys-font-family-h3: var(--ref-font-family-condensed);
  --sys-font-weight-h3: var(--ref-font-weight-semi-bold);
  --sys-font-size-h3: var(--ref-size-24);
  --sys-icon-size-h3: var(--ref-size-20);

  --sys-font-weight-h4: var(--ref-font-weight-semi-bold);
  --sys-font-size-h4: var(--ref-size-15);

  --sys-font-family-eyebrow: var(--ref-font-family-mono);
  --sys-font-size-eyebrow: var(--ref-size-10);
  --sys-letter-spacing-eyebrow: var(--ref-size-2);

  --sys-font-size-li: var(--ref-size-13);
  --sys-icon-size-li: var(--ref-size-12);

  --sys-font-family-caption: var(--ref-font-family-mono);
  --sys-font-size-caption: var(--ref-size-11);
  --sys-color-text-caption: var(--ref-color-gray-400);

  --sys-font-weight-cta-button: var(--ref-font-weight-bold);
  --sys-font-size-cta-button: var(--ref-size-13);
  --sys-icon-size-cta-button: var(--ref-size-13);
  --sys-padding-horizontal-cta-button: var(--ref-size-32);
  --sys-padding-vertical-cta-button: var(--ref-size-14);
  --sys-radius-cta-button: var(--ref-size-6);
  --sys-gap-cta-button: var(--ref-size-8);

  --sys-font-weight-cta-link: var(--ref-font-weight-semi-bold);
  --sys-font-size-cta-link: var(--ref-size-11);
  --sys-icon-size-cta-link: var(--ref-size-11);

  --sys-color-primary: var(--ref-color-bluerocratic-500);
  --sys-color-secondary: var(--ref-color-orange-500);
  --sys-color-background: var(--ref-color-navy-950);
  --sys-color-background-secondary: var(--ref-color-casual-navy-950);

  --sys-color-text-primary: var(--ref-color-white);
  --sys-color-text-secondary: var(--ref-color-gray-400);
  --sys-color-text-tertiary: var(--ref-color-gray-600);
  --sys-color-text-accent-primary: var(--ref-color-fresh-blue-500);
  --sys-color-text-accent-secondary: var(--ref-color-fresh-orange-500);

  --sys-color-status-closed: var(--ref-color-red-400);
  --sys-color-status-open: var(--ref-color-green-600);

  --sys-color-brand-whatsapp: var(--ref-color-green-500);
  --sys-color-brand-topdon: var(--ref-color-bright-blue-500);
  --sys-color-brand-fnirsi: var(--ref-color-fresh-blue-500);
}
